.reveal {
    section {
        img.no-border {
            border: 0;
            background: transparent;
            box-shadow: none;
        }
        
        div.credit {
            font-size: small;
            color: rgba(0,0,0,.8);
            background-color: rgba(255,255,255,.3);
            position: absolute;
            width: 100%;
            transform: rotate(-90deg);
            left: 51em;
            top: 50%;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        &.overlay-text {
            color: rgba(0,0,0,.8);
            background-color: rgba(255,255,255,.75);
        }

        &.push-down {
            margin-top: 10em;
        }
        
        &.push-down-sm {
            margin-top: 8em;
        }

        &.push-up {
            margin-top: -7em;
        }
    }

    p {
        &.overlay-text {
           padding: 1em;
        }
        
        @for $n from 1 through 10 {
            &.indent-#{$n} {
                text-align: left;
                margin-left: 1.25em * $n;
            }
        }
    }
    
    span {
        &.smaller {
            font-size: medium;
        }
    }
    
    pre {
        padding: 1em;
    }
}



