.reveal {
    section {
        img.no-border {
            border: 0;
            background: transparent;
            box-shadow: none;
        }
        
        div.credit {
            font-size: small;
            color: rgba(0,0,0,.8);
            background-color: rgba(255,255,255,.6);
            width: 100%;
/*            transform: rotate(-90deg);
            position: absolute;
            top: 50%;
            left:78%;*/
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        &.overlay-text {
            color: rgba(0,0,0,.8);
            background-color: rgba(255,255,255,.75);
        }

        &.push-down {
            margin-top: 10em;
        }
        
        &.push-down-sm {
            margin-top: 8em;
        }
        
        &.push-down-xsm {
            margin-top: 5em;
        }

        &.push-up {
            margin-top: -7em;
        }
    }

    p {
        &.overlay-text {
           padding: 1em;
        }
        
        @for $n from 1 through 10 {
            &.indent-#{$n} {
                text-align: left;
                margin-left: 1.25em * $n;
            }
        }
    }
    
    span {
        &.smaller {
            font-size: medium;
        }
    }
    
    pre {
        padding: 1em;
    }
}

.credits {
    .credit {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: small;
        color: rgba(0,0,0,.8);
        background-color: rgba(255,255,255,.6);
        width: 100%;
        text-align: right;
        padding: .1em;
    }
}

@each $credit in (notebook, cats, bugged, torn_page, test_on_monitor,
                  awesome_street, stormtrooper, pure_gotham, test_tubes,
                  sidewalk_closed, elmers_glue, car_crash, domo) {
    .#{$credit} .credit.#{$credit} {
        display: block;
    }
}
